@using BE_DeveloperTest.Models.Api.Weather;
@using System.Net;
@model WeatherData;

@if (Model.Code == 200 && Model.WeatherInfos != null && Model.WeatherInfos.Any())
{

    <div>
        <form method="get">
            <input name="location" type="text" />
            <input type="submit" value="submit" />
        </form>
    </div>
}
else
{
    <div>Error encountered: @Model.Message</div>
}